<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Lilita+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
    </style>
    <!-- Alpine js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="text-abu font-poppins">
    <!-- Navigation -->
    <nav x-data="{navOpen : true}" class="py-5 px-4">
        <div class="container bg-white mx-auto lg:px-20">
            <div class="flex justify-between">
                <div class="flex items-center gap-3">
                    <img src="./images/Nav Logo.svg">
                    <a href="" class="font-rubik">Mind's</a>
                </div>
                <div class="items-center hidden md:block">
                    <ul class="flex items-center gap-3">
                        <li><a href="">Beranda</a></li>
                        <li><a href="">Artikel</a></li>
                        <li><a href="">Tidur</a></li>
                        <li><a href="">Olahraga</a></li>
                        <li><a href="">Stres</a></li>
                    </ul>
                </div>
                <div class="hidden lg:block">
                    <a class="bg-blue-700 px-3 py-3 rounded-full text-dark-white" href="">Konsultasi</a>
                </div>
                <img src="./images/toggle.svg" @click="navOpen = !navOpen" class="lg:hidden">
            </div>

        </div>
        <!-- mobile navigation -->
        <!-- z index buat fixed bottom -->
        <div x-data="{open : true}" x-show="navOpen"
            class="bg-dark-white fixed bottom-0 right-0 left-0 z-50 p-4 lg:hidden"
            x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">
            <ul class="flex justify-between">
                <li>
                    <a href="" class="flex justify-center flex-col items-center gap-1">
                        <ion-icon name="home" class="text-2xl text-biru"></ion-icon>
                        <span class="">Beranda</span>
                    </a>
                </li>
                <li>
                    <a href="" class="flex justify-center flex-col items-center gap-1">
                        <ion-icon name="newspaper" class="text-2xl"></ion-icon>
                        <span class="">Artikel</span>
                    </a>
                </li>
                <li>
                    <a href="" class="flex justify-center flex-col items-center gap-1">
                        <ion-icon name="bed" class="text-2xl"></ion-icon>
                        <span class="">Tidur</span>
                    </a>
                </li>
                <li>
                    <a href="" class="flex justify-center flex-col items-center gap-1">
                        <ion-icon name="bicycle" class="text-2xl"></ion-icon>
                        <span class="">Olahraga</span>
                    </a>
                </li>
                <li>
                    <a href="" class="flex justify-center flex-col items-center gap-1">
                        <ion-icon name="sad" class="text-2xl"></ion-icon>
                        <span class="">Stres</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>

    <section x-data="{open : true}">
        <div class="container mx-auto px-4 py-4 lg:px-20 lg:py-28">
            <div class="grid grid-cols-12 items-center">
                <div class="col-span-12 items-center justify-center space-y-4">
                    <div x-show="open"
                        class="flex flex-row bg-red-600 rounded-full opacity-50 py-3 px-5 items-center justify-between">
                        <h1 class="text-white text-lg font-semibold">Error</h1>
                        <button @click="open = !open"
                            class="border-2 border-inherit text-white py-2 px-4 rounded-full">X</button>
                    </div>
                    <h1 class="font-rubik font-medium text-[38px] text-center mb-4">Posting artikel</h1>
                    <form method="post" action="/post-article">
                        <div class="flex flex-col w-9/12 mx-auto gap-2">
                            <label for="judul" class="font-semibold ">Judul</label>
                            <input type="text" name="title" class="border border-gray-950 rounded-md" required>
                        </div>
                        <div class="flex flex-col w-9/12 mx-auto gap-2">
                            <label for="judul" class="font-semibold ">Konten</label>
                            <textarea name="paragraph" id="" cols="30" rows="10"
                                class="border border-gray-950 rounded-md" required></textarea>
                        </div>
                        <div class="flex flex-col w-9/12 mx-auto gap-2">
                            <div class="mb-3">
                                <label for="formFile"
                                    class="mb-2 inline-block text-neutral-700 dark:text-neutral-200">Default file input
                                    example</label>
                                <input
                                    class="relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary"
                                    type="file" id="formFile" />
                            </div>
                        </div>
                        <div class="flex flex-col w-9/12 mx-auto gap-2">
                            <label for="judul" class="font-semibold ">Kategori</label>
                            <select name="category" id="" class="border border-gray-950 rounded-md" required>
                                <option value="Tidur" class="">Tidur</option>
                                <option value="Tidur" class="">Olahraga</option>
                                <option value="Tidur" class="">Stres</option>
                            </select>
                        </div>
                        <div class="w-9/12 mx-auto mt-4">
                            <button class="bg-biru px-9 py-2 rounded-full font-semibold text-white"
                                type="submit">Posting</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>