<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Lilita+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
    </style>
</head>

<body class="bg-slate-300 font-poppins" style="color: #141E46;">
    <header class="bg-white py-4 shadow-lg mx-auto">
        <nav class="w-9/12 mx-auto">
            <div class="flex items-center justify-between">
                <div class="flex items-center space-x-4">
                    <label class="bg-red-600 py-4 px-4 rounded-full"></label>
                    <a href="/" class="text-2xl font-semibold" style="color: #141E46;">Mental's</a>
                </div>

                <div class="flex items-center space-x-4">
                    <a href="/artikel">Artikel</a>
                    <a href="/tidur">Tidur</a>
                    <a href="/meditasi">Meditasi</a>
                    <a href="/stres">Stres</a>
                    <a href="/konsultasi" class="font-semibold py-3 px-6 text-white rounded-full"
                        style="background-color: #C70039;">Konsultasi</a>
                    <!-- <ul class="flex space-x-4">
                        <li style="color: #141E46;"></li>
                        <li style="color: #141E46;"></li>
                        <li style="color: #141E46;"></li>
                        <li style="color: #141E46;"></li>
                        <li style="color: #141E46;"></li>
                    </ul> -->


                </div>
            </div>
        </nav>
    </header>

    <!-- Content section -->
    <section class="container py-5 mx-auto" style="background-color: #FFF5E0;">
        <div class="w-9/12 mx-auto h-screen grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-7 gap-4 items-center">
            <div class="lg:col-span-4 sm:col-span-1 md:col-span-2">
                <h1 class="font-rubik text-4xl font-medium" style="color: #C70039;">Kesehatan mental demi generasi
                    penerus bangsa
                </h1><br>
                <p class="font-poppins text-2xl">Tempat Terbaik untuk Merawat Kesehatan Mental! Dapatkan Wawasan dan
                    Dukungan yang
                    Anda Butuhkan</p><br>
                <a href="" class="font-semibold py-3 px-6 text-white rounded-full"
                    style="background-color: #C70039;">Telusuri</a>
            </div>
            <div class="flex justify-center lg:col-span-3 sm:col-span-1 md:col-span-2">
                <img src="./images/Frame 1.1.png" alt="" class="sm:object-scale-down">
            </div>

        </div>
    </section>

    <section class="container py-5 bg-white mx-auto">
        <div class="w-9/12 mx-auto h-3/6 grid sm:grid-cols-1 lg:grid-cols-2 lg:grid-rows-3 sm:grid-rows-3 gap-6 items-center">

            <div class="flex justify-center lg:col-span-1 lg:row-span-3 sm:row-span-1 py-5">
                <img src="./images/Frame 2.png" alt="" class="sm:object-scale-down">
            </div>

            <div class="flex justify-center lg:col-span-1 lg:row-span-1 sm:row-span-1 py-7 rounded-3xl items-center space-x-4"
                style="background-color: #C70039;">
                <label class="bg-white py-4 px-4 rounded-full"></label>
                <h1 class="text-white text-xl font-bold">Tidur lebih nyenyak<h1>
            </div>

            <div class="flex justify-center lg:col-span-1 lg:row-span-1 sm:row-span-1 py-7 rounded-3xl items-center space-x-4"
                style="background-color: #C70039;">
                <label class="bg-white py-4 px-4 rounded-full"></label>
                <h1 class="text-white text-xl font-bold">Pikiran lebih tenang</h1>
            </div>

            <div class="flex justify-center lg:col-span-1 lg:row-span-1 sm:row-span-1 py-7 rounded-3xl items-center space-x-4"
                style="background-color: #C70039;">
                <label class="bg-white py-4 px-4 rounded-full"></label>
                <h1 class="text-white text-xl font-bold">Perasaan lebih bahagia<h1>
            </div>
        </div>
        </div>
    </section>

    <section class="container py-5 bg-white mx-auto">
        <div
            class="w-9/12 mx-auto h-screen grid sm:grid-cols-1 md:col-span-3 lg:grid-cols-3 lg:grid-rows-4 sm:grid-rows-4 gap-4 items-center">
            <div class="sm:col-span-1 lg:col-span-1 row-span-2 py-5">
                <h1 class="font-bold text-xl text-center flex items-start justify-center">Tidur</h1><br>
                <p>Kualitas tidur yang baik berperan penting dalam menjaga keseimbangan emosi, kestabilan mood, dan
                    kinerja kognitif seseorang.</p>
            </div>

            <div class="sm:col-span-1 lg:col-span-1 lg:row-span-2 sm:row-span-1 py-5">
                <h1 class="font-bold text-xl text-center flex items-start justify-center">Meditasi</h1><br>
                <p>Meditasi adalah teknik yang melibatkan konsentrasi mental, pengamatan, dan relaksasi untuk mencapai
                    berbagai manfaat bagi kesehatan mental.</p>
            </div>

            <div class="flex justify-center lg:col-span-1 md:col-span-3 sm:col-span-1 lg:row-span-4 sm:row-span-1 py-5">
                <img src="./images/Frame 3.png" alt="">
            </div>

            <div class="sm:col-span-1 lg:col-span-2 lg:row-span-2 sm:row-span-1 py-5">
                <h1 class="font-bold text-xl text-center flex items-start justify-center">Stres</h1><br>
                <p>
                    Stres dapat memiliki dampak serius pada kesehatan mental seseorang. Dampak stres pada kesehatan
                    mental dapat bervariasi dari ringan hingga parah, tergantung pada intensitas, durasi, dan cara
                    seseorang mengatasi stres</p>
            </div>
        </div>
    </section>

    <section class="container py-5 mx-auto" style="background-color: #FFF5E0;">
        <div
            class="w-9/12 mx-auto h-screen grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 grid-rows-5 gap-4 items-center">
            <div class="flex justify-start items-end sm:col-span-1 md:col-span-4 lg:col-span-4 row-span-1">
                <h1 class="text font-bold text-2xl">Artikel terbaru</h1>
            </div>
            <div class="sm:col-span-1 lg:col-span-2 lg:row-span-3 sm:row-span-3 md:row-span-2">
                <div class="card lg:card-side bg-white shadow-xl">
                    <figure><img src="./images/Landing-1.png" alt="Album" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">Cara mengatasi anxiety</h2>
                        <p>Anxiety dapat diatasi dengan beberapa cara berikut...</p>
                        <div class="card-actions justify-center">
                            <a href="/konsultasi" class="btn btn-outline text-white rounded-full"
                                style="background-color: #C70039;">Lihat</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sm:col-span-1 lg:col-span-2 lg:row-span-3 sm:row-span-3 md:row-span-2">
                <div class="card lg:card-side bg-white shadow-xl">
                    <figure><img src="./images/Landing-1.png" alt="Album" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">New album is released!</h2>
                        <p>Click the button to listen on Spotiwhy app.</p>
                        <div class="card-actions justify-center">
                            <a href="/konsultasi" class="btn btn-outline text-white rounded-full"
                                style="background-color: #C70039;">Lihat</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="py-16 flex items-start bg-white shadow-xl rounded-2xl">
                    <div class="grid grid-rows-3">
                        <div class="flex ">
                            <img src="./images/Landing-1.png" width="200" alt="Shoes" />
    
                        </div>
                        <div class="flex">
                          <h2 class="">Shoes!</h2>
                          <p>If a dog chews shoes whose shoes does he choose?</p>
                          <div class="justify-end">
                            <button class="btn btn-primary">Buy Now</button>
                          </div>
                        </div>
                    </div>
                  </div> -->
            </div>

        </div>
    </section>

    <!-- Footer section -->
    <footer class="py-24" style="background-color: #2D303A;">

    </footer>
</body>

</html>